<!DOCTYPE html>
<html>
<head>
    <title>All Articles</title>
</head>
<body>
    <h1>All Articles</h1>
    <a href="/articles/create">Create New Article</a>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Content</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% articles.forEach(article => { %>
                <tr>
                    <td><%= article.id %></td>
                    <td><%= article.title %></td>
                    <td><%= article.content %></td>
                    <td>
                        <% if (article.image) { %>
                            <img src="/<%= article.image %>" alt="Image" width="100">
                        <% } else { %>
                            No image
                        <% } %>
                    </td>
                    <td>
                        <a href="/articles/edit/<%= article.id %>">Edit</a> |
                        <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" style="display:inline;">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
